.body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
}

.body form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.body form div {
  padding: 1rem;
  font-size: 1.5rem;
}

.body form div input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: 300;
}

.body form div label {
  font-size: 1.2rem;
  font-weight: 300;
}

.button {
  display: flex;
  flex-direction: row;
}

.button button {
  margin: 0.5rem;
}

.button .delete {
  border: 1px solid maroon;
  background-color: maroon;
}

.button .delete:active {
  background-color: #a30000;
}
