<app-header></app-header>

<input [ngModel]="searchValue" (input)="onInput($event)" class="search" id="search" type="text" placeholder="Recherche">
<div>

  <p-table class="p-table" [value]="users" [paginator]="true" [rows]="25">
    <ng-template pTemplate="header">
      <tr>
        <th class="title" style="width: 35%">Nom</th>
        <th class="title">Email</th>
        <th class="title">Téléphone</th>
        <th class="title">Service</th>
        <th class="title">Site</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr class="object">
        <td [routerLink]="['/users/' + user.id]">{{ user.firstname }} {{ user.lastname }}</td>
        <td [routerLink]="['/users/' + user.id]">{{ user.email }}</td>
        <td [routerLink]="['/users/' + user.id]">{{ user.mobile }}</td>
        <td [routerLink]="['/service/' + user.serviceId]">{{ user.service?.name }}</td>
        <td [routerLink]="['/site/' + user.service.siteId]">{{ user.service?.site?.city }}</td>
      </tr>
    </ng-template>
  </p-table>

</div>
