.search {
  display: flex;
  margin: 1rem;
  width: 20rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 1rem ;
}

.contain {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;
  height: 5vh;
  border: 1px solid #ccc;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
}
